{% extends 'base.html' %}	
{% load staticfiles %}
{% block meta %}
	<meta name="description" content="An edit profile page, to edit current user's profile.">
{% endblock %}

{% block stylescript_app %}<link rel=stylesheet href="{% static 'css/profile.css' %}">{% endblock %}
{% block stylescript_page %}{% endblock %}
{% block title %} Edit Profile {% endblock %}

{% block header %} {% include "partials/header.html" %} {% endblock %}

{% block content %}
	<div class="container">
		<h1 style="text-align:left;">Edit Profile</h1>
		<section name="form">
		<form id="form" method="POST" action = "edit_dong">
			{% csrf_token %}
			{{ Edit_In }}
			<p>
				Expertise:
			</p>
			<input type="checkbox" name="expertise1" value="vampiric" > Vampiric<br>
  			<input type="checkbox" name="expertise2" value="godly" > Godly<br>
  			<input type="checkbox" name="expertise3" value="badboy" > Badboy<br>
  			<input type="checkbox" name="expertise4" value="inhuman"> Inhuman Speed and Strength<br>
  			<input type="checkbox" name="expertise5" value="regeneration"> Regeneration<br>
  			<input type="checkbox" name="expertise6" value="enhanced"> Enhanced Senses<br>
			<br>
			<button id = "submit" type="submit" class="btn btn-default">Save</button>
			<td >
				<style type="text/css">
					a{
						color:black;
					}
				</style>
			<a style = "background: gray; "  class="btn btn-default" href="/profile"> Cancel </a>
			</td>
		</form>
		</section>	

	</div>
{% endblock %}
{% block footer %} {% include "partials/footer.html" %} {% endblock %}

{% block scripts_app %} <!–– Masukkan script JS yang ingin digunakan app disini ––> {% endblock %}
{% block scripts_page %}{% endblock %}