{% extends 'base.html' %}
{% load staticfiles %}
{% block meta %}
	<meta name="description" content="A profile page, to show current user's profile.">
{% endblock %}

{% block stylescript_app %}<link rel=stylesheet href="{% static 'css/profile.css' %}">{% endblock %}
{% block stylescript_page %}{% endblock %}
{% block title %}Profile of {{user_name}}{% endblock %}

{% block header %} {% include "partials/header.html" %} {% endblock %}

{% block content %}
	<div class="container">
		<h1 style="text-align:left;">Profile</h1>
		<section name="image">
			<style>
			.circular--square {
				border-radius: 50%;
			}
			</style>
			<div class="container">
				<p style="text-align:center;"><img class="profile profile-xl" align="middle" src="{{profile_pict}}"  alt="Profile Picture"/> </p>
			</div>
			<h2 style="text-align:center">{{user_name}}</h2>
		</section>
		<section name= "profiledata">
			<table align="center" cellspacing="0" cellpadding="0" id = "MainTable" style="text-align: left; background: transparent;">
					<tr>
			            <td style = "background: transparent" class="subject" id = "Maintd"> Birthday </td>
			            <td style = "background: transparent" class="value" id = "Maintd">{{ birthday}}</td>
			        </tr>
			        <tr>
			            <td style = "background: transparent" class="subject" id = "Maintd"> Gender </td>
			            <td style = "background: transparent" class="value" id = "Maintd">{{ gender}}</td>
			        </tr>
			    	<tr>
			            <td style = "background: transparent" class="subject" id = "Maintd"> Expertise </td>
			            <td style = "background: transparent" id = "newtd">
			            <table style = "background: transparent; text-align: left" id = "secondtable">
			            {% for ii in expertise %}
  						<td class="value" id = "rcorners1"> {{ii}}</td>
			            {% endfor %}
			            </table>
			        	</td>
			        </tr>
			        <tr>
			            <td style = "background: transparent" class="subject" id = "Maintd"> Description </td>
			            <td style = "background: transparent" class="value" id = "Maintd">{{ description}}</td>
			        </tr>
			        <tr>
			            <td style = "background: transparent" class="subject" id = "Maintd"> Email </td>
			            <td style = "background: transparent" class="value" id = "Maintd">{{ email}}</td>
			        </tr>
			    <tr>
			    <td style = "background: transparent" id = "edittd" onclick="window.location='/profile/edit-profile'">
			    	<div class="edit-profile" >Edit Profile</div>
				</td>
				</tr>
			</table>
		</section>
	</div>
	{% block content_page %}{% endblock %}
{% endblock %}
{% block footer %} {% include "partials/footer.html" %} {% endblock %}

{% block scripts_app %} <!–– Masukkan script JS yang ingin digunakan app disini ––> {% endblock %}
{% block scripts_page %}{% endblock %}