{% load staticfiles %}
<nav class="navbar navbar-default navbar-expand-lg fixed-top navbar-dark" id="navbar">
	<div class="container">
		<a class="navbar-brand" href="/"><b>Project-DioBrando</b></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/" data-toggle="tooltip" title="See and create status">Timeline</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/friends/" data-toggle="tooltip" title="Get together with friends list">Friends</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/" data-toggle="tooltip" title="See your statistics">Stats</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-profile" href="/profile/" data-toggle="tooltip" title="See your profile">
						<b>{{user_name}}</b>
						<img class="profile profile-s" src="{{profile_pict}}" alt="{{user_name}}'s Profile Picture" />
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>