{% extends 'base.html' %}
{% load staticfiles %}
{% block meta %}
	<meta name="description" content="A timeline page, to add and view status.">
{% endblock %}

{% block stylescript_app %}<link rel=stylesheet href="{% static 'css/status.css' %}">{% endblock %}
{% block stylescript_page %}{% endblock %}
{% block title %}Timeline{% endblock %}

{% block header %} {% include "partials/header.html" %} {% endblock %}
{% block content %}
	<div class="container" align="center">
		<h1 style="text-align:center">STATUS</h1>
		<div align="center">
			<form method="POST" id="add_status" action="add_status/">
			{% csrf_token %}
				{{ add_status_form }}
				<br>
				<div class="button_success">
					<button type="submit" class="button btn-success">Post it!</button>			
				</div>
			</form>
		</div>
		{% block content_page %}
			<p>
				{% for status_message in status reversed %}
					<div class="container_status">
						<img src="{{profile_pict}}" alt="Avatar" class="profile" style="width:100%;">
                        <h3>{{user_name}}</h3>
						<form class="status_delete" action="delete_status/" method="POST" align="right">
							{% csrf_token %}
							<input type="hidden" name="status_id" value="{{ status_message.id }}" />
							<input type="submit" value="x">
						</form>
						<p>{{ status_message.status }}</p>
						<span class="time-right">{{ status_message.date }}</span>
					</div>
				{% endfor %}
			</p>
	</div>
	{% endblock %}
{% endblock %}
{% block footer %} {% include "partials/footer.html" %} {% endblock %}

{% block scripts_app %} <!–– Masukkan script JS yang ingin digunakan app disini ––> {% endblock %}
{% block scripts_page %}{% endblock %}