/* Font family definition: you can add custom fonts here */


/* Animation definitions */


/* CSS definition for regular screen size */
/* Main body */

/* Navbar */

/* Content */
section {
    margin: 20px 0;
}
.flex {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:flex-start;
	align-content:flex-start;
}
.flex-item {
    flex-grow: 0;
    flex-shrink: 0;
}
.profile-name {
    flex-grow: 1;
    flex-basis: 50%;
	vertical-align: middle;
	margin: 20px 0;
	font-family: Old English Text MT;
	font-size: 40px;
}
.profile-l {
	margin: 0 10px
}
.profile-m {
	margin: 0 5px
}

/* Special rules for certain screen sizes, size-max: 480px */
@media only screen and (max-width:480px){
	/* Content */
	.stats-item, .last-post-item {
		flex-grow:0;
		flex-shrink:0;
		flex-basis:100%
	}
    .profile-name {
        font-size: 25px
    }
}

@media only screen and (max-width:768px){
    .profile-name {
        flex-grow: 0;
        flex-basis: 100%
    }
    .theme {
        flex-grow: 0;
        flex-basis: 100%       
    }
}

/* Special rules for certain screen sizes, size-min: 481px */
@media only screen and (min-width:481px){
	.stats-item {
		flex-grow:1;
		flex-shrink:0;
		flex-basis: 47%
	}
}