/* CSS definition for regular screen size */
/* Main body */
body {
    background: linear-gradient(to bottom, #222 0%,#220 33%,#200 67%,#000 100%) no-repeat;
    color: #fff
}
/* Navbar */
nav.fixed-top {
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0.75) 90%, rgba(0,0,0,0.1) 100%) no-repeat
}
.navbar-nav .nav-link {
    color: #fff !important
}
.nav-profile {
	color: #fff !important
}
/* Content */
hr {
    border-top: 1px solid #fff !important;
    color: #fff
}
table, td, th {
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    border: 1px solid #fff
}
.post-date {
	color: white
}
/* Footer */
p.copyright {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 25%, rgba(255,255,255,1) 100%);
    color: black;
}