/* CSS definition for regular screen size */
/* Main body */
body {
    background: linear-gradient(to bottom, #ddd 0%,#ddf 33%,#dff 67%,#fff 100%) no-repeat;
    color: #000
}
/* Navbar */
nav.fixed-top {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,0.75) 90%, rgba(255,255,255,0.1) 100%) no-repeat
}
.navbar-nav .nav-link {
    color: #000 !important
}
.nav-profile {
	color: #000 !important
}
/* Content */
hr {
    border-top: 1px solid #000 !important;
    color: #000
}
table, td, th {
    background-color: rgba(255,255,255,0.4);
    color: #000;
    border: 1px solid #000
}
.post-date {
	color: gray
}
/* Footer */
p.copyright {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 25%, rgba(0,0,0,1) 100%);
    color: white;
}