{% extends 'base.html' %}
{% load staticfiles %}
{% block meta %}
	<meta name="description" content="A dashboard page, main page for the user's statistics and other things.">
{% endblock %}

{% block stylescript_app %}<link rel=stylesheet href="{% static 'css/dashboard.css' %}">{% endblock %}
{% block stylescript_page %}{% endblock %}
{% block title %}Dashboard of {{user_name}}{% endblock %}

{% block header %} {% include "partials/header.html" %} {% endblock %}
{% block content %}
	<div class="container">
        <section name="profile">
            <h5><b>Statistic</b></h5>
            <div class="flex profile-header">
                <div class="flex-item profile-name">
                    <img class="profile profile-l" src="{% static 'img/profile.jpg' %}" alt="{{user_name}}'s Profile Picture"/> <b>{{user_name}}</b>
                </div>
                <div class="flex-item theme">
                    <b>Theme:</b>
                    <select id="selector">
                        <option id="option-light" value="light">Light</option>
                        <option id="option-dark" value="dark">Dark</option>
                    </select>
                    <input type="submit" onclick="getSelector()" id="submit"></input>
                </div>
		</section>
		<hr/>
		<section name="stats">
			<div class="flex stats-table">
				<div class="flex-item stats-item">
					<b>Friends</b> {{friend_count}} People
				</div>
				<div class="flex-item stats-item">
					<b>Feeds</b> {{status_count}} Posts
				</div>
			</div>
		</section>
		<hr/>
		<section name="latest_post">
			<b>Latest Post</b>
			<div class="flex last-post">
				<div class="flex-item last-post-item">
					<div class="post-header">
						<img class="profile profile-m" src="{% static 'img/profile.jpg' %}" alt="{{user_name}}'s Profile Picture" />
						<b>{{user_name}}</b>
					</div>
					<div class="post-content">{{last_status.status}}</div>
					<div class="post-date">{{last_status.date}}</div>
				</div>
			</div>
		</section>
		<hr/>
	</div>
	{% block content_page %}{% endblock %}
{% endblock %}
{% block footer %} {% include "partials/footer.html" %} {% endblock %}

{% block scripts_app %}
    <script>
        var selectElement = $("select");
        var selectedTheme = localStorage.getItem("theme");
        document.getElementById("option-"+selectedTheme).setAttribute("selected", "selected");
        
        selectElement.change(function() {
            $("select option:selected").each(function() {
                switchTheme($(this).val());
            })
        });
        
        
        function getSelector() {
            $("select option:selected").each(function() {
                switchTheme($(this).val());
            })
        };
    </script>
{% endblock %}
{% block scripts_page %}{% endblock %}