{% extends 'base.html' %}
{% load staticfiles %}
{% block meta %}
	<meta name="description" content="A friends list page, to show current user's friends and add a new friend.">
{% endblock %}

{% block stylescript_app %}<link rel=stylesheet href="{% static 'css/friends.css' %}">{% endblock %}
{% block stylescript_page %}{% endblock %}
{% block title %}List of {{user_name}}'s Friends{% endblock %}

{% block header %} {% include "partials/header.html" %} {% endblock %}
{% block content %}
	<div class="container">
		<h1 style="text-align:center">Add Friend</h1>
		<section name="form">
		<form id="form" method="POST" action="add_friend/">
			{% csrf_token %}
			{{ Add_Friend_Form }}
			<br>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		</section>		
	</div>
		
		{% block content_page %}
	<div class="container">
		<h1 style="text-align:center">List Friend</h1>
		
		<section name = "my_friend">
		<div class = "flex">
			{% for i in Friend reversed %}
				<div class "flex-item">
					<div class = "friend-box">
						<div class = "friend-box-date-added">
							{{i.created_date.time}}
						</div>
						<div>
							<img src="{% static 'img/teman.png' %}", alt = "icon", height = "120", width = "120" class = "icon">
						</div>
						<div class = "name">
							{{i.name}}
						</div>
						<div class = "heroku">
							<a href ="{{i.heroku}}">{{i.heroku}}</a>
						</div>
						
					</div>
				</div>
			{% endfor %}
		</section>
	</div>	
		
		
	{% endblock %}
{% endblock %}
{% block footer %} {% include "partials/footer.html" %} {% endblock %}

{% block scripts_app %} <!–– Masukkan script JS yang ingin digunakan app disini ––> {% endblock %}
{% block scripts_page %}{% endblock %}