{% load staticfiles %}
<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset=UTF-8>
		<meta name=viewport content="width=device-width, initial-scale=1.0">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta http-equiv=X-UA-Compatible content="IE=edge">
		<meta name="author" content="Kelompok 9 PPW E Gasal 2017/2018">
		{% block meta %}{% endblock %}
		
		{% block stylescript %}
		<link rel=stylesheet href="{% static 'css/bootstrap-4.0.0beta1.min.css' %}">
		{% endblock %}
		<link rel=stylesheet href="{% static 'css/base.css' %}">
        <link rel=stylesheet id="theme-css" href="{% static 'css/theme-light.css' %}">
		{% block stylescript_app %}{% endblock %}
		
		<title>{% block title %}Welcome to Project Dio Brando!{% endblock %} - Project DioBrando</title>
		<style>{% block style %}{% endblock %}</style>
</head>
<body>
	<div class=main-container>
		<header>
			{% block header %}{% endblock %}
		</header>
		<content>
			<div class="content-out">{% block content %}{% endblock %}</div>
		</content>
		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</div>
</body>
{% block scripts %}
	<script type=application/javascript src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
	<script type=application/javascript src="{% static 'js/popper.min.js' %}"></script>
	<script type=application/javascript src="{% static 'js/bootstrap-4.0.0beta1.min.js' %}"></script>
    <script>
    themeKey = "theme";

    function switchTheme(themeName) {
        var name = "light";
        var stylesheet = null;
        if (themeName == null) {
            var storedName = localStorage.getItem(themeKey);
            if (storedName != null)
                name = storedName;
            if (name == "dark") {
                stylesheet = "{% static 'css/theme-dark.css' %}";
                document.getElementById("navbar").classList.remove('navbar-light');
                document.getElementById("navbar").classList.add('navbar-dark');
            } else {
                stylesheet = "{% static 'css/theme-light.css' %}";
                document.getElementById("navbar").classList.remove('navbar-dark');
                document.getElementById("navbar").classList.add('navbar-light');
            }
        } else if (themeName == "dark") {
            name = themeName;
            stylesheet = "{% static 'css/theme-dark.css' %}";
            localStorage.setItem(themeKey, name);
            document.getElementById("navbar").classList.remove('navbar-light');
            document.getElementById("navbar").classList.add('navbar-dark');
        } else {
            name = themeName;
            stylesheet = "{% static 'css/theme-light.css' %}";
            localStorage.setItem(themeKey, name);
            document.getElementById("navbar").classList.remove('navbar-dark');
            document.getElementById("navbar").classList.add('navbar-light');
        }
        document.getElementById("theme-css").setAttribute("href", stylesheet);
    }
    </script>
    <script>switchTheme(null);</script>
{% endblock %}
{% block scripts_app %}{% endblock %}
{% block jquery %}{% endblock %}
</html>