/* Font family definition: you can add custom fonts here */


/* Animation definitions */


/* CSS definition for regular screen size */
/* Main body */

/* Navbar */

/* Content */


/* Special rules for certain screen sizes, size-min: ..., size-max: ... */
/* Main body */

/* Navbar */

/* Content */
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: -15px;
    margin-left: -15px;
  }

  .flex-item {
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
  }
 .friend-box{
  text-align: center;
  background: #fff;
  color: black !important;
  position: relative;
  z-index: 15;
  margin-right : 40px;
  margin-bottom: 60px;
  width  : 300px;
  height : 300px;
  word-wrap: break-word;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 1s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
    
  transition-timing-function: cubic-bezier(.17,.02,.2,.99);
  -webkit-transition-timing-function: cubic-bezier(.17,.02,.2,.99);

}
.friend-box:after{
	content:"";
	display:block;
	height:25px; /* Which is the padding of div.container */
	background: #fff;
}

.friend-box:hover{
	top : -5px;
	-webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 1);
	-o-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 1);
	box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 1);
}

.friend-box .name {
  position: relative;
  top : 30px;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
}

.friend-box .icon {
  position: relative;
  top : 15px;
  padding: 10px 10px 0;
  border-radius:  50%;
  border;
}
.friend-box-date-added {
  color : red;
  font-size: 12px;
  padding: 0 10px;
}
.friend-box .heroku {
  position: relative;
  top : 30px;
  padding: 10px 25px;
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: justify;
  overflow: auto;
}	

/* And so on........ */

/* Special rules for certain screen sizes */
@media only screen and (max-width: 768px) {
  #input-list form {
	  width: 80%;
  }
  .flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin-right: 0px;
  margin-left: 0px;
  }
  .flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  }
  .friend-box{
      width: 250px;
  }

}