/* Font family definition: you can add custom fonts here */


/* Animation definitions */


/* CSS definition for regular screen size */
/* Main body */

/* Navbar */

/* Content */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

table{
    margin: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

#MainTable{
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
    width: 640px;
    margin: 0 auto;
}
#secondtable{
    margin-left : -10px;
    margin-right: auto;
    border-spacing: 10px 0;
    border: none;
    align-self: left;
    border-collapse: separate;
    width: 50%;
    padding: 0;
}
td.subject{
    width: 120px;
}
td.value{
    width: auto;
}
#Maintd {
    border: none;
    font-size: 100%;
}
#edittd {
  border : none;
}

#newtd  {
    border: none;
    height: 0px;    
}

table td.expand {
    width: 99%;
}


#rcorners1 {
    white-space: nowrap;
    border-radius: 25px;
    border-color: none ;
    background: green;
    padding: 5px; 
    width: 0px;
    height: 0px; 
}
#rcorners1:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
#rcorners1:hover, #rcorners1:focus, #rcorners1:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
#rcorners1:hover:before, #rcorners1:focus:before, #rcorners1:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.edit-profile {
  border-radius: 10px;
  background: green;
  color: #fff;
  margin: 25px 0;
  padding: 10px;
  width: auto;
  height: 40px;
  position: absolute;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  
}
.edit-profile:hover, .edit-profile:focus, .edit-profile:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.content-out{

  margin-bottom: 120px;
}

@media only screen and (max-width: 768px) {
	#MainTable{
        width: 400px;
    }
    #rcorners1{
        font-size: 80%;
    }
    .edit-profile{
        background: green;
        color: #fff;
        border-radius: 10px;
        padding: 10px;
        height: 40px;
        width:  50%;
        font-size: 100%;
        position: absolute;
        text-align: center;
        cursor: pointer;
    }
}

@media only screen and (max-width: 480px) {
	#MainTable{
        width: 280px;
    }
}



/* Special rules for certain screen sizes, size-min: ..., size-max: ... */
/* Main body */

/* Navbar */

/* Content */


/* And so on........ */